<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>whiskAccessKey</key>
	<string>9908ebc9-7385-4460-b5d9-eb88541a76e3</string>
	<key>whiskAccessToken</key>
	<string>DkNWqzA6e1c6of2pLTZdjE5EShRgheXtbfx0hQWjZfhXWnDCCfdqFuP1R7z9k9fb</string>
	<key>whiskActionName</key>
	<string>newsFetchAction</string>
	<key>whiskNameSpace</key>
	<string>IMF_Push_kgspace</string>
	<key>pushAppGUID</key>
	<string>21e0805e-f57c-4077-a5f9-172a2ca0b451</string>
	<key>pushAppClientSecret</key>
	<string>59188899-6a99-47aa-8cbc-31fd1364c929</string>
	<key>pushAppRegion</key>
	<string>.ng.bluemix.net</string>
	<key>watsonTextToSpeachUsername</key>
	<string>1de8df4a-ebc6-4273-908b-5158d911c277</string>
	<key>watsonTextToSpeachPassword</key>
	<string>Q31mUI33S1CU</string>
	<key>appLaunchAppID</key>
	<string>58fb34b2-4cb0-4e87-b2fa-28d61441f136</string>
	<key>appLaunchClientSecret</key>
	<string>c425d305-a14a-45a5-9386-1cebd26453a3</string>
</dict>
</plist>
