<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>whiskAccessKey</key>
	<string>9908ebc9-7385-4460-b5d9-eb88541a76e3</string>
	<key>whiskAccessToken</key>
	<string>DkNWqzA6e1c6of2pLTZdjE5EShRgheXtbfx0hQWjZfhXWnDCCfdqFuP1R7z9k9fb</string>
	<key>whiskActionName</key>
	<string>GetNewsAPI</string>
	<key>whiskNameSpace</key>
	<string>IMF_Push_kgspace</string>
	<key>pushAppGUID</key>
	<string>21e0805e-f57c-4077-a5f9-172a2ca0b451</string>
	<key>pushAppClientSecret</key>
	<string>59188899-6a99-47aa-8cbc-31fd1364c929</string>
	<key>pushAppRegion</key>
	<string>.ng.bluemix.net</string>
	<key>watsonTextToSpeachUsername</key>
	<string>86b7a50f-6f4a-4317-a8d6-aa22ecf29a8c</string>
	<key>watsonTextToSpeachPassword</key>
	<string>dTk4WpFVcdR2</string>
	<key>newsAPIKey</key>
	<string>7a563830-7222-466c-8b84-ca23b29aab8f</string>
</dict>
</plist>
