<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>whiskAccessKey</key>
	<string></string>
	<key>whiskAccessToken</key>
	<string></string>
	<key>whiskActionName</key>
	<string></string>
	<key>whiskNameSpace</key>
	<string></string>
	<key>pushAppGUID</key>
	<string></string>
	<key>pushAppClientSecret</key>
	<string></string>
	<key>pushAppRegion</key>
	<string></string>
	<key>watsonTextToSpeachUsername</key>
	<string></string>
	<key>watsonTextToSpeachPassword</key>
	<string></string>
	<key>appLaunchAppID</key>
	<string></string>
	<key>appLaunchClientSecret</key>
	<string></string>
</dict>
</plist>
